{# base.html #}
{# this is the base template for all pages #}

{% load static %}
<html>
<head>
{% block styles %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<style type = "text/css">

		body {
			background: lightcyan;
		}

		input {
			border-radius: 10%;
		    border: grey solid 1px;
		    background: white;
		    margin: 10px;
		    font-size: 1.5em;
		}

		input:hover {
			background: grey;
		}
	

		p, pre {
			font-weight: 500;
			font-size: 120%;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		}

		p.scorebox{
			
			width: 100%;
		}

		p.scorebox_interior{
			font-size: 1.5em;
			border: black solid;
			width: 250px;
			margin: auto;
		}

		#round_text {
			font-size: 2.5em;
			text-align: center;
		}

		#game_board {
			text-align: center;
			border: black solid;
		}

		#player_take {
			font-size: 1.5em;
		}
		</style>
{% endblock styles %}
</head>



<body onload="show_consent_form()">

<!-- Hidden Data Storage Area ----------------------------------------------------------------------------------------->
<textarea id="outputBox" rows="22" cols="15" style="display:none; position: absolute; height: 10%; width: 10%; left: 0; top: 0;" readonly> </textarea>
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Consent Form ----------------------------------------------------------------------------------------------------->
<pre id="consent_form" style="display:none; =">
<strong style="text-align: center;">Consent Form</strong>
<strong style="text-align: center;"> The Relationship between Personality and Decision-making </strong>

<strong style="text-align: center;"> University of Miami </strong>

CONSENT TO PARTICIPATE IN A RESEARCH STUDY: The following information describes the research study in which you are
being asked to participate. Please read the information carefully. At the end, you will be asked to indicate your 
agreement to participate. We are asking you to participate in a research study to learn more about how personality and decision-making are related.

Participation in this study involves playing a decision-making game and completing several questionnaires about personal 
traits, which will take approximately forty minutes.

We do not anticipate significant risks to you related to this study, but it is possible that some questions could be 
distressing. Your participation in this study is voluntary and you are free to leave the study at any time. If you
decline to participate or stop participating in this study, there will be no negative consequences to you.

No direct benefits are expected for your participation. For completing this study, you will receive the amount
previously specified by your research panel provider. There will also be an opportunity to earn some financial
compensation based on your choices in the decision-making game.

The investigator and his assistants will consider your records confidential to the extent permitted by law. The U. S.
Department of Health and Human Services may request to review and obtain copies of your records. Your records may also
be reviewed for audit purposes by authorized University employees or other agents who are bound by the same provisions
of confidentiality. The information that you provide to us will not be linked to any identifying information at the
University of Miami to help maintain confidentiality. The list containing your name will be retained only for the 
purposes of payment for your participation.

You may ask and will receive answers to any questions while participating in this study as best we can. The investigator
can send you a copy of this consent form by email if you request it. If you have any questions about your rights as a
research participant, you may contact The Human Subjects Research Office at 305-243-3195 or at hsro@miami.edu.

PARTICIPANT AGREEMENT:

By clicking on the “I Agree” button below, I acknowledge that I have read the information in this consent form
and agree to participate in this study.
<input id="consent_affirmative" type="button" onclick="initiate_experiment()" value="I agree">
<input id="consent_negative" type="button" onclick="fail_experiment()" value="I do not agree">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Failure Case-------------------------------------------------------------------------------------------->
<pre id="failure_case" style="display:none;">
<strong>Thank You</strong>
Thank you for looking at the consent form. Have a nice day! 
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Connection Screen ------------------------------------------------------------------------------------------------>
<pre id=connect style="display:none;">
	<p id="p1_connect"> Player 1 - Not Connected </p>
	<p id="p2_connect"> Player 2 - Connected </p>
	<p id="p3_connect"> Player 3 - Not Connected </p>
	<p id="p4_connect"> Player 4 - Connected </p>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Generic Survey Item ---------------------------------------------------------------------------------------------->
<pre id=survey_item style="display:none;">
	<p id='survey_question'> </p>
	<form id='survey_form'>
		<input type="radio" id="radio-1"  name="radio-1" value="Value1">
		<label id="radio-1-label" for="radio-1"> Value1 </label><br/>
		<input type="radio" id="radio-2"  name="radio-2" value="Value2">
		<label id="radio-2-label" for="radio-2"> Value2 </label><br/>
		<input type="radio" id="radio-3"  name="radio-3" value="Value3">
		<label id="radio-3-label" for="radio-3"> Value3 </label><br/>
		<input type="radio" id="radio-4"  name="radio-4" value="Value4">
		<label id="radio-4-label" for="radio-4"> Value4 </label><br/>
		<input type="radio" id="radio-5"  name="radio-5" value="Value5">
		<label id="radio-5-label" for="radio-5"> Value5 </label><br/>
		<input type="radio" id="radio-6"  name="radio-6" value="Value6">
		<label id="radio-6-label" for="radio-6"> Value6 </label><br/>
		<input type="radio" id="radio-7"  name="radio-7" value="Value7">
		<label id="radio-7-label" for="radio-7"> Value7 </label><br/>
		<input type="radio" id="radio-8"  name="radio-8" value="Value8">
		<label id="radio-8-label" for="radio-8"> Value8 </label><br/>
	</form>
	<input type="button" id="survey-iterator" onclick="iterate_survey_item()" value="Next">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->


<!-- Instructional Content -------------------------------------------------------------------------------------------->
<pre id="instructions" style="display:none;">
<strong>Instructions</strong>

We want you to play a game with four people in it. You will not meet or communicate directly with any of the four people. 

In this game, all four of you earn your living by fishing on a lake. 

There are 20,000 large fish in the lake that can be caught and sold to earn a living.

The fish reproduce and grow naturally, so that every year another 10% of the fish become large enough to sell.

The lake is only large enough to hold 20,000 large fish, so there can never be more fish than that in the lake. 

In order to manage the fishery, the four of you are the only ones who are allowed to fish in the lake. 

By law, you can catch up to 1200 fish each year. But research on the lake shows that the fish will only replenish 
themselves if the four of you catch no more than 1800 fish per year in total (450 for each of you). 

The fish are so valuable that selling 450 fish will earn you enough money for you and your family to live on, and you can even save some money. 

But if you take more fish, you will make more money. 

You will see how your total adds up over the “years” (turns) you will play the game. 

You will play up to 15 “years”. You will see how much other players take per year after you choose how many you will take. 

At the end of the experiment, all of the people who have played this game 
will be entered into a lottery for an Amazon gift card worth $100. One out of ten players will win a gift card.

The number of chances you have to win the gift card depends on how many fish you catch. 

Each fish you catch gives you 1 chance in the lottery.
<input id="start_button" type="button" onclick="start_game()" value="Start Game!">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Game Content ----------------------------------------------------------------------------------------------------->
<div id="game" style="display:none;">

	<pre>
	Remember:	Each turn represents 1 year
				Every year the number of fish increases by 10% of the total 
				The lake cannot hold more than 20,000 fish 
				By law, you can catch up to 1200 fish each year
				You have to catch 450 each turn to feed and take care of your family.			
				Your total at the end = total number of chances to win a $100 Amazon gift card 
	</pre>

	<div id="game_board"> 
		<p id = "round_text"> Round 1 </p>
		<p id= "pot_text"> Total Fish = 20000 </p>
		<p id= "p1"> Player 1 Took - </p>
		<p class="scorebox"> <p id="p1_text" class="scorebox_interior"> Player 1 Total: 0 </p> </p>
		<p id= "p2"> Player 2 Took - </p>
		<p class="scorebox"> <p id="p2_text" class="scorebox_interior"> Player 2 Total: 0 </p> </p>
		<p id= "p3"> Player 3 Took - </p>
		<p class="scorebox"> <p id="p3_text" class="scorebox_interior"> Player 3 Total: 0 </p> </p>
		<p id= "p4"> Player 4 (You) Took -  </p>

			<input type="text" id="player_take">
			<input type="button" onclick="turn_advance()" id="game_button" value="Take">

		<p class="scorebox"> <p id="player_text" class="scorebox_interior"> Player 4 (You) Total: 0 </p>  </p>
	</div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Finish Game Screen ----------------------------------------------------------------------------------------------------->
<pre id="finish" style="display: none;">
Thank you for playing! 
6 rounds provided all the information that we need, so we will end the game now. 
Are you ready to take our survey?
<pre id="finish_total"> Final score: 0 </pre>
<input type="button" id="admin-surveys" onclick="administerDemographics()" value="Proceed to Demographics"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Pre-Debrief ----------------------------------------------------------------------------------------------------->
<pre id="demographics" style="display: none;">
Thank you for participating in the study. There is just one last part that we need to do. It is called debriefing. 
We just need to ask you a few questions about our study. If you don’t have an answer, it’s fine to say, ‘I don’t know.’
<input type="button" id="go-to-debrief" onclick="goToSurvey()" value="Proceed to Questionnaire"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Pre-Debrief ----------------------------------------------------------------------------------------------------->
<pre id="finish_survey" style="display: none;">
Thank you for participating in the study. There is just one last part that we need to do. It is called debriefing. 
We just need to ask you a few questions about our study. If you don’t have an answer, it’s fine to say, ‘I don’t know.’
<input type="button" id="go-to-debrief" onclick="goToDebrief()" value="Proceed to Questionnaire"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Debriefing ----------------------------------------------------------------------------------------------------->
<pre id="debrief-funnel" style="display: none;">
	<div id="funnel-1" style="display:none;">
		What do you think the purpose of the study was? (200 words or less)
		<textarea id="purposeBox" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-funnel-2" onclick="goToFunnel2()" value="Next"/>
	</div>
	<div id="funnel-2" style="display:none;">
		If our avowed purpose was not the real purpose, what do you think the purpose is? 
		<textarea id="purposeBox-2" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-funnel-3" onclick="goToFunnel3()" value="Next"/>
	</div>
	<div id="funnel-3" style="display:none;">
		Was there anything about the study that seemed suspicious? 
		<textarea id="purposeBox-3" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-debrief" onclick="goToFinalDebriefForm()" value="Proceed to Debriefing"/>
	</div>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Debriefing ----------------------------------------------------------------------------------------------------->
<pre id="debrief-form" style="display: none;">
Debriefing Information

Title of Research Study: Situational-Factor Person Interaction in Trait Fairness

Principal Investigator: Blaine Fowers

Study Number: 20210309

Thank you for your participation in our study. We appreciate your participation. This form provides more information 
about the study purpose and procedures that we did not fully disclose during the consent process.

Study Purpose and Procedures:

When you agreed to take part in the study, we informed you that the study was about learning more about how personality
and decision-making are related. Your participation in this study was described as involving playing a decision-making 
game and completing several questionnaires about personal traits. In fact, the true purpose of the study was to assess 
the relationship between self-reported trait fairness and the degree of fairness behavior participants demonstrated in 
the economic game in the study. There were two deceptions in the study. First, you were told that you were interacting 
with 3 other people in the study, but you were playing with 1 of 3 pre-designed computer protocols. You were randomly 
assigned to one of the three conditions in the study, and we were interested in how these conditions affect 
participants’ decisions. Second, you were told that your chances to win the $100 lottery would be proportional 
to the number of fish you took in the game. However, all participants will have an equal chance of winning the 
lottery. The idea that there would be unequal chances to win the lottery was designed as an incentive to encourage 
participants to act selfishly. We hope to identify whether self-reported trait fairness has meaningful relationships 
with observed fairness behavior, which will give us more confidence in that self-report measurement and improve 
our understanding of fairness.

To properly test our theories, we could not give you all these details before you took part. Withholding the 
details allows us to make sure your reactions in this study were real and not shaped by knowing about the study 
ahead of time. Once again, we offered a benign cover story that you were playing with other people in the game 
and that your chances of winning the lottery would be increased by your fish taking behavior. Both these 
descriptions were deceptions designed to prevent participants from acting more fairly due to knowing that 
we were interested in fairness. We hope you understand the reason for our use of deception.

Your Right to Withdraw Data:

Now that you know the true purpose of this research study, you may decide whether you want

to allow the data about you to remain in the study. If you choose to have your data removed, you can have all 
your data from the study removed. Please email the principal investigator, Blaine Fowers (bfowers@miami.edu), 
and ask to have your data removed. Nothing bad will happen if you decide to have your data removed. Even if 
you ask to have your data removed from the study, you are still entitled to receive the payment we agreed to
provide through your research panel provider. Before making your decision, you can email the principal 
investigator to have your questions answered.

Confidentiality:

Please note that although the description of the study’s purpose and procedures are different from what you were 
told, everything else in the consent form is correct, including information about keeping your data provide. 
Your data will remain anonymous because it will not have any identifying information attached.

Please do not disclose research procedures and/or hypotheses to anyone who might participate in this study in 
the future. Telling them could affect the results of the study.

Contact Information:

If you have any questions or concerns about this study, its purpose or procedures, or if you have a 
research-related problem, please feel free to contact the Principal Investigator, Blaine Fowers (bfowers@miami.edu).

If you have any questions concerning your rights as a research participant, you may contact the 
University of Miami Human Subjects Research Office at (305) 243-3195 or emailing hsro@med.miami.edu.

***Please keep a copy of this form or print this from your screen, for your future reference. Once again, 
thank you for your participation in this study.***
<a href="https://app.prolific.co/submissions/complete?cc=4E152F17">
   <input type="button" value="Complete Participation in Study" />
</a>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
<script type="text/javascript">
	window.jQuery || document.write('<script src="{% static "jquery-3.6.0.min.js" %}">\x3C/script>');
</script>

<script type="text/javascript">


var output;
var resultsJSON = {'surveyResults': [],};
var condition = Math.floor(Math.random() * 3);
var p1_lock = 0;
var p2_lock = 0;
var p3_lock = 0;
var p4_lock = 0;
var round = 1;
var pot_total = 20000;
var p1_total = 0;
var p2_total = 0;
var p3_total = 0;
var p4_total = 0;
var p1_moves = [450, 450, 450, 450, 450, 450, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200];
var p2_moves = [450, 450, 450, 450, 450, 450, 450, 500, 450, 500, 500, 500, 450, 500, 450, 500, 500, 500];
var p3_moves = [450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 1200, 1200, 1200, 1200, 1200, 1200];
var p1_take = 0;
var p2_take = 0;
var p3_take = 0;
var p4_take = 0;


var p1_connect_time = 250;
var p3_connect_time  = 400;
var game_start_time = 500;

var bot_turn_rand_time = 1000;
var bot_turn_base_time = 2000;
var bot_turn_offset_rand = 500;
var bot_turn_offset_base = 500;

var NUM_ROUNDS = 7;
var NUM_RADIO_ITEMS = 8;

var elements = ["#outputBox", "#connect", "#instructions", "#game", "#finish", "#consent_form", "#failure_case", "#survey_item"]


// Keypress Handlers  //
$(document).keydown(function(event) { 
	// on Backslash
	if(event.which == 220) {
		if(isHidden("#outputBox")) { show("#outputBox") }
		else { hide("#outputBox") }
	} 
	// on Enter 
	if(event.which == 13) { if(!isHidden("#game")) { turn_advance() }	}
});



// Helper Functions //
function getByID(id) { return document.getElementById(id); }

function hideAll() {
	for(let i = 0; i < elements.length; i++)
		$(elements[i]).css('display', 'none')
}

function hide(id) { $(id).css('display', 'none') }

function show(id) { $(id).css('display', 'block') }

function showInlineBlock(id) { $(id).css('display', 'inline-block')}

function isHidden(id) { return ($(id).css('display') == 'none') }


function shuffle(a){ 
	var j, x, i; 
	for (i = a.length; i; i--) { 
		j = Math.floor(Math.random() * i); 
		x = a[i - 1]; 
		a[i - 1] = a[j]; 
		a[j] = x; 
	} 
}
//

// Occurs once body is loaded //
function show_consent_form() { show("#consent_form"); }

// Begins experiment
function initiate_experiment(){
	// Hide Consent Form
	hide("#consent_form");

	let idCheck = NaN
	// Get subid
	while(isNaN(idCheck)) {
		var subject_id = window.prompt("Enter a Valid Prolific ID");
		idCheck = (subject_id % 3);
	}

	output = getByID("outputBox")
	output.innerHTML = "Cond:" + condition + ", ID:" + subject_id;

	resultsJSON['cond'] = condition;
	resultsJSON['id'] = subject_id;

	show("#instructions")
}

// If not offering consent 
function fail_experiment() {
	hide("#consent_form");
	show("#failure_case");
}

// Begins game
function start_game(){
	hide("#instructions")
	show("#connect")
	setTimeout(function(){ getByID("p1_connect").innerHTML = "Player 1 - Connected"}, p1_connect_time);
	setTimeout(function(){ getByID("p3_connect").innerHTML = "Player 3 - Connected"}, p3_connect_time);
	setTimeout(function(){ show("#game"); hide("#connect"); }, game_start_time);
}

// Attempts to advance turn
function turn_advance(){
	if(p4_lock == 1 && (p1_lock * p2_lock * p3_lock == 0)){
		alert("You Have Already Gone This Round! ");
		getByID("player_take").value = "";
		return;
	}
	p4_take = parseInt(getByID("player_take").value);
	if(isNaN(p4_take)){
		alert("Please enter a number! ");
		getByID("player_take").value = "";
		return;
	}
	if(p4_take < 0){
		alert("Please enter a number greater than 0! ");
		getByID("player_take").value = "";
		return;
	}
	if(p4_take > 1200){
		alert("Please enter a number smaller than or equal to 1200! ");
		getByID("player_take").value = "";
		return;
	}

	if(p4_lock == 0 && (p1_lock * p2_lock * p3_lock == 0)){
		p4_lock = 1;
		p4_total += p4_take;
		pot_total -= p4_take;
		logData = output.value;
		additionalData = ", R" + round + ": " + p4_take;
		logData +=  additionalData;
		output.innerHTML = logData;
		resultsJSON['R' + round] = p4_take;

		getByID("player_take").value = "";
		refresh_p4();
		computerTurn();
		return;
	}
}

// Has all AI make a choice
function computerTurn(){
	var center = Math.floor(Math.random() * bot_turn_rand_time) + bot_turn_base_time;
	var offset = Math.floor(Math.random() * bot_turn_offset_rand) + bot_turn_offset_base;
	var turn_time = [center, (center + offset), (center - offset)];
	shuffle(turn_time);
	setTimeout(p1_turn, turn_time[0]);
	setTimeout(p2_turn, turn_time[1]);
	setTimeout(p3_turn, turn_time[2]);
}

// Advances the round after all choices have been made 
function roundAdvance(){
	pot_total = Math.ceil(pot_total * 1.1);
	if(pot_total > 20000){ pot_total = 20000;}

	round++;

	p1_lock = 0; p2_lock = 0; p3_lock = 0; p4_lock = 0;

	getByID("round_text").innerHTML = "Round " + round;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;

	if(round == NUM_ROUNDS){
		hide("#game")
		getByID("finish_total").innerHTML = "Final score: " + p4_total;
		show("#finish")
		resultsJSON['total'] = p4_total;
		return;
	}
}


function administer_surveys() {
	hide("#finish")
	populateSurveyItem(survey_item_index)
	show("#survey_item")
}

function goToDebrief() {
	hide("#finish_survey");
	show("#debrief-funnel");
	show("#funnel-1")
}

function goToFunnel2() {
	hide("#funnel-1")
	show("#funnel-2")
}

function goToFunnel3() {
	hide("#funnel-2")
	show("#funnel-3")
}

function goToFinalDebriefForm() {

	hide("#debrief-funnel");
	show("#debrief-form");

	let answerOne = getByID("purposeBox").value;
	let answerTwo = getByID("purposeBox-2").value;
	let answerThree = getByID("purposeBox-3").value;

	let answerObj = { 'answerOne': answerOne,
		'answerTwo': answerTwo,
		'answerThree': answerThree,
	};

	resultsJSON['debriefFunnel'] = answerObj;
	uploadResults();
}

// Returns like: [('yes', 1), ('no', 2)]
function getListOfResponseObjects(responses) {
	var sortable = [];
	for (var response in responses) {
	    sortable.push([response, responses[response]]);
	}

	sortable.sort(function(a, b) {
	    return a[1] - b[1];
	});

	return sortable
}


function populateSurveyItem(index) {
		let relQuestionIndex = random_survey_indices[index]
		let questionObj = survey_object[relQuestionIndex]

		let question = questionObj['question']
		let responses = questionObj['responses']
		let listOfResponseObjects = getListOfResponseObjects(responses);
		getByID('survey_question').innerHTML = question
		for(let i = 0; i < responses.length; i++){
			let radioKey = (i + 1);
			let radioID = "radio-" + radioKey;
			let labelID = "radio-" + radioKey + "-label";

			let input = getByID(radioID);
			input.value = listOfResponseObjects[i][1];
			input.checked = false;
			let label = getByID(labelID);
			label.innerHTML = listOfResponseObjects[i][0];
			showInlineBlock("#" + radioID);
			showInlineBlock("#" + labelID);
		}

		if(responses.length < NUM_RADIO_ITEMS) {
			for(let i = NUM_RADIO_ITEMS; i > responses.length; i--) {
				let radioID = "radio-" + i;
				let labelID = "radio-" + i + "-label";
				getByID(radioID).checked = false;
				hide("#" + radioID);
				hide("#" + labelID);
			}
		}
}

function iterate_survey_item() {
	// Check survey is filled out
	let checked = false;
	let value = NaN;

	for(let i = 1; i <= NUM_RADIO_ITEMS; i++) {
		let radioID = "radio-" + i;
		let input = getByID(radioID);
		if(input.checked) {
			checked = true;
			value = input.value;
			break;
		} 
	}

	if(checked == false) {
		alert("Please answer the question before clicking next.");
		return;
	}

	// Proceed
	resultsJSON['surveyResults'].push({
		'item': survey_item_index,
		'question': getByID('survey_question').innerHTML,
		'response': value
	});

	survey_item_index++;

	if(survey_item_index == survey_object.length) {
		hide("#survey_item");
		show("#finish_survey");
		return;
	}

	populateSurveyItem(survey_item_index);
}

// Uploads results to server where they are appended to text file
function uploadResults() {
			// Upload results
		fetch('/services/postTestResult', {
			method: 'POST',
			headers: {
		      'Accept': 'application/json',
		      'Content-type': 'application/json',
		    },
		    body: JSON.stringify(resultsJSON),
		}).then(response => response.json()).then(json => console.log(json))
}


// These are all bot turns 
function p1_turn() {
	if(condition == 0) { p1_take = p1_moves[(round - 1)]; }
	if(condition == 1) { p1_take = p1_moves[(6 + (round - 1))]; }
	if(condition == 2) { p1_take = p1_moves[(12 + (round - 1))]; }
	pot_total -= p1_take;
	p1_total += p1_take;
	refresh_p1();
	p1_lock = 1;
	if(p2_lock * p3_lock * p4_lock == 1) { roundAdvance(); }
}

function p2_turn() {
	if(condition == 0) { p2_take = p2_moves[(round - 1)]; }
	if(condition == 1) { p2_take = p2_moves[(6 + (round - 1))]; }
	if(condition == 2) { p2_take = p2_moves[(12 + (round - 1))]; }
	pot_total -= p2_take;
	p2_total += p2_take;
	refresh_p2();
	p2_lock = 1;
	if(p1_lock * p3_lock * p4_lock == 1) { roundAdvance(); }
}

function p3_turn() {
	if(condition == 0){ p3_take = p3_moves[(round - 1)]; }
	if(condition == 1){ p3_take = p3_moves[(6 + (round - 1))]; }
	if(condition == 2){ p3_take = p3_moves[(12 + (round - 1))]; }
	pot_total -= p3_take;
	p3_total += p3_take;
	refresh_p3();
	p3_lock = 1;
	if(p1_lock * p2_lock * p4_lock == 1) { roundAdvance(); }
}

function refresh_p1() {
	getByID("p1").innerHTML = "Player 1 Took For Round " + round + ": " + p1_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p1_text").innerHTML = "Player 1 Total: " + p1_total;
}

function refresh_p2() {
	getByID("p2").innerHTML = "Player 2 Took For Round " + round + ": " + p2_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p2_text").innerHTML = "Player 2 Total: " + p2_total;
}

function refresh_p3() {
	getByID("p3").innerHTML = "Player 3 Took For Round " + round + ": " + p3_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p3_text").innerHTML = "Player 3 Total: " + p3_total;
}

function refresh_p4() {
	getByID("p4").innerHTML = "Player 4 (You) Took For Round " + round + ": " + p4_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("player_text").innerHTML = "Player 4 (You) Total: " + p4_total;
}

function randomSurveyOrder() {
	let base = []
	for(var i = 0; i < survey_object.length; i++) {
		base.push(i);
	}
	shuffle(base)
	return base
}

var survey_object = [
{
	'question-id': 1,
	'question': "How many eggs would you like?",
	'responses': {
		"One": 1,
		"Two": 2,
		"Three": 3,
	}	
},

{
	'question-id': 2,
	'question': "I go out of my way to treat everyone fairly",
	'responses': {
		"Strongly disagree": 1,
		"Disagree": 2,
		"Neither agree nor disagree": 3,
		"Agree": 4,
		"Strongly Agree": 5,
	}
},

########## MORE QUESTIONS HERE ##########
]


var random_survey_indices = randomSurveyOrder()
var survey_item_index = 0

</script>
{% endblock scripts %}
</body>
</html>