{# base.html #}
{# this is the base template for all pages #}

{% load static %}
<html>
<head>
{% block styles %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<style type = "text/css">

		body {
			background: lightcyan;
		}

		input {
			border-radius: 10%;
		    border: grey solid 1px;
		    background: white;
		    margin: 10px;
		    font-size: 1.5em;
		}

		input:hover {
			background: lightgrey;
		}
	

		p, pre {
			font-weight: 500;
			font-size: 120%;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		}

		p.scorebox{
			
			width: 100%;
		}

		p.scorebox_interior{
			font-size: 1.5em;
			border: black solid;
			width: 250px;
			margin: auto;
		}

		#round_text {
			font-size: 2.5em;
			text-align: center;
		}

		#game_board {
			text-align: center;
			border: black solid;
		}

		#player_take {
			font-size: 1.5em;
		}
		</style>
{% endblock styles %}
</head>



<body onload="show_consent_form()">

<!-- Hidden Data Storage Area ----------------------------------------------------------------------------------------->
<textarea id="outputBox" rows="22" cols="15" style="display:none; position: absolute; height: 10%; width: 10%; left: 0; top: 0;" readonly> </textarea>
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Consent Form ----------------------------------------------------------------------------------------------------->
<pre id="consent_form" style="display:none; =">
<strong style="text-align: center;">Consent Form</strong>
<strong style="text-align: center;"> The Relationship between Personality and Decision-making </strong>

<strong style="text-align: center;"> University of Miami </strong>

CONSENT TO PARTICIPATE IN A RESEARCH STUDY: The following information describes the research study in which you are
being asked to participate. Please read the information carefully. At the end, you will be asked to indicate your 
agreement to participate. We are asking you to participate in a research study to learn more about how personality and decision-making are related.

Participation in this study involves playing a decision-making game and completing several questionnaires about personal 
traits, which will take approximately forty minutes.

We do not anticipate significant risks to you related to this study, but it is possible that some questions could be 
distressing. Your participation in this study is voluntary and you are free to leave the study at any time. If you
decline to participate or stop participating in this study, there will be no negative consequences to you.

No direct benefits are expected for your participation. For completing this study, you will receive the amount
previously specified by your research panel provider. There will also be an opportunity to earn some financial
compensation based on your choices in the decision-making game.

The investigator and his assistants will consider your records confidential to the extent permitted by law. The U. S.
Department of Health and Human Services may request to review and obtain copies of your records. Your records may also
be reviewed for audit purposes by authorized University employees or other agents who are bound by the same provisions
of confidentiality. The information that you provide to us will not be linked to any identifying information at the
University of Miami to help maintain confidentiality. The list containing your name will be retained only for the 
purposes of payment for your participation.

You may ask and will receive answers to any questions while participating in this study as best we can. The investigator
can send you a copy of this consent form by email if you request it. If you have any questions about your rights as a
research participant, you may contact The Human Subjects Research Office at 305-243-3195 or at hsro@miami.edu.

PARTICIPANT AGREEMENT:

By clicking on the "I Agree" button below, I acknowledge that I have read the information in this consent form
and agree to participate in this study.
<input id="consent_affirmative" type="button" onclick="initiate_experiment()" value="I agree">
<input id="consent_negative" type="button" onclick="fail_experiment()" value="I do not agree">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Failure Case-------------------------------------------------------------------------------------------->
<pre id="failure_case" style="display:none;">
<strong>Thank You</strong>
Thank you for looking at the consent form. Have a nice day! 
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Connection Screen ------------------------------------------------------------------------------------------------>
<pre id=connect style="display:none;">
	<p id="p1_connect"> Player 1 - Not Connected </p>
	<p id="p2_connect"> Player 2 - Connected </p>
	<p id="p3_connect"> Player 3 - Not Connected </p>
	<p id="p4_connect"> Player 4 - Connected </p>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->
<!-- Generic Survey Item ---------------------------------------------------------------------------------------------->
<pre id=survey_item style="display:none;">
	<p id='survey_question'> </p>
	<form id='survey_form'>
		<input type="radio" id="radio-1"  name="radio-1" value="Value1">
		<label id="radio-1-label" for="radio-1"> Value1 </label><br/>
		<input type="radio" id="radio-2"  name="radio-2" value="Value2">
		<label id="radio-2-label" for="radio-2"> Value2 </label><br/>
		<input type="radio" id="radio-3"  name="radio-3" value="Value3">
		<label id="radio-3-label" for="radio-3"> Value3 </label><br/>
		<input type="radio" id="radio-4"  name="radio-4" value="Value4">
		<label id="radio-4-label" for="radio-4"> Value4 </label><br/>
		<input type="radio" id="radio-5"  name="radio-5" value="Value5">
		<label id="radio-5-label" for="radio-5"> Value5 </label><br/>
		<input type="radio" id="radio-6"  name="radio-6" value="Value6">
		<label id="radio-6-label" for="radio-6"> Value6 </label><br/>
		<input type="radio" id="radio-7"  name="radio-7" value="Value7">
		<label id="radio-7-label" for="radio-7"> Value7 </label><br/>
		<input type="radio" id="radio-8"  name="radio-8" value="Value8">
		<label id="radio-8-label" for="radio-8"> Value8 </label><br/>
	</form>
	<input type="button" id="survey-iterator" onclick="iterate_survey_item()" value="Next">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->


<!-- Instructional Content -------------------------------------------------------------------------------------------->
<pre id="instructions" style="display:none;">
<strong>Instructions</strong>

We want you to play a game with four people in it. You will not meet or communicate directly with any of the four people. 

In this game, all four of you earn your living by fishing on a lake. 

There are 20,000 large fish in the lake that can be caught and sold to earn a living.

The fish reproduce and grow naturally, so that every year another 10% of the fish become large enough to sell.

The lake is only large enough to hold 20,000 large fish, so there can never be more fish than that in the lake. 

In order to manage the fishery, the four of you are the only ones who are allowed to fish in the lake. 

By law, you can catch up to 1200 fish each year. But research on the lake shows that the fish will only replenish 
themselves if the four of you catch no more than 1800 fish per year in total (450 for each of you). 

The fish are so valuable that selling 450 fish will earn you enough money for you and your family to live on, and you can even save some money. 

But if you take more fish, you will make more money. 

You will see how your total adds up over the "years" (turns) you will play the game. 

You will play up to 15 "years". You will see how much other players take per year after you choose how many you will take. 

At the end of the experiment, all of the people who have played this game 
will be entered into a lottery for an Amazon gift card worth $100. One out of ten players will win a gift card.

The number of chances you have to win the gift card depends on how many fish you catch. 

Each fish you catch gives you 1 chance in the lottery.
<input id="start_button" type="button" onclick="start_game()" value="Start Game!">
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Game Content ----------------------------------------------------------------------------------------------------->
<div id="game" style="display:none;">

	<pre>
	Remember:	Each turn represents 1 year
				Every year the number of fish increases by 10% of the total 
				The lake cannot hold more than 20,000 fish 
				By law, you can catch up to 1200 fish each year
				You have to catch 450 each turn to feed and take care of your family.			
				Your total at the end = total number of chances to win a $100 Amazon gift card 
	</pre>

	<div id="game_board"> 
		<p id = "round_text"> Round 1 </p>
		<p id= "pot_text"> Total Fish = 20000 </p>
		<p id= "p1"> Player 1 Took - </p>
		<p class="scorebox"> <p id="p1_text" class="scorebox_interior"> Player 1 Total: 0 </p> </p>
		<p id= "p2"> Player 2 Took - </p>
		<p class="scorebox"> <p id="p2_text" class="scorebox_interior"> Player 2 Total: 0 </p> </p>
		<p id= "p3"> Player 3 Took - </p>
		<p class="scorebox"> <p id="p3_text" class="scorebox_interior"> Player 3 Total: 0 </p> </p>
		<p id= "p4"> Player 4 (You) Took -  </p>

			<input type="text" id="player_take">
			<input type="button" onclick="turn_advance()" id="game_button" value="Take">

		<p class="scorebox"> <p id="player_text" class="scorebox_interior"> Player 4 (You) Total: 0 </p>  </p>
	</div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Finish Game Screen ----------------------------------------------------------------------------------------------------->
<pre id="finish" style="display: none;">
Thank you for playing! 
6 rounds provided all the information that we need, so we will end the game now. 
Are you ready to take our survey?
<pre id="finish_total"> Final score: 0 </pre>
<input type="button" id="admin-surveys" onclick="administerDemographics()" value="Proceed to Demographics"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Pre-Debrief ----------------------------------------------------------------------------------------------------->
<pre id="weird-demographics" style="display: none;">
Demographics Questions

Please provide a response for each of the following questions. 
<form id='demo-form'>
		<input type="checkbox" id="weirddemo-1"  name="weirddemo-1" value="African American or Black">
		<label id="weirddemo-1-label" for="weirddemo-1"> African American or Black </label><br/>
		<input type="checkbox" id="weirddemo-2"  name="weirddemo-2" value="American Indian or Alaska Native">
		<label id="weirddemo-2-label" for="weirddemo-2"> American Indian or Alaska Native </label><br/>
		<input type="checkbox" id="weirddemo-3"  name="weirddemo-3" value="Asian">
		<label id="weirddemo-3-label" for="weirddemo-3"> Asian </label><br/>
		<input type="checkbox" id="weirddemo-4"  name="weirddemo-4" value="Native Hawaiian or Pacific Islander">
		<label id="weirddemo-4-label" for="weirddemo-4"> Native Hawaiian or Pacific Islander </label><br/>
		<input type="checkbox" id="weirddemo-5"  name="weirddemo-5" value="White">
		<label id="weirddemo-5-label" for="weirddemo-5"> White </label><br/>
		<input type="checkbox" id="weirddemo-6"  name="weirddemo-6" value="Other">
		<label id="weirddemo-6-label" for="weirddemo-6"> Other </label><br/>
	</form>
<input type="button" id="go-to-survey" onclick="checkWeirdDemo()" value="Proceed to Questionnaire"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Pre-Debrief ----------------------------------------------------------------------------------------------------->
<pre id="finish_survey" style="display: none;">
Thank you for participating in the study. There is just one last part that we need to do. It is called debriefing. 
We just need to ask you a few questions about our study. If you don’t have an answer, it’s fine to say, ‘I don’t know.’
<input type="button" id="go-to-debrief" onclick="goToDebrief()" value="Proceed to Questions"/>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Debriefing ----------------------------------------------------------------------------------------------------->
<pre id="debrief-funnel" style="display: none;">
	<div id="funnel-1" style="display:none;">
		What do you think the purpose of the study was? (200 words or less)
		<textarea id="purposeBox" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-funnel-2" onclick="goToFunnel2()" value="Next"/>
	</div>
	<div id="funnel-2" style="display:none;">
		If our avowed purpose was not the real purpose, what do you think the purpose is? 
		<textarea id="purposeBox-2" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-funnel-3" onclick="goToFunnel3()" value="Next"/>
	</div>
	<div id="funnel-3" style="display:none;">
		Was there anything about the study that seemed suspicious? 
		<textarea id="purposeBox-3" rows="10" cols="25" style=""> </textarea>
		<input type="button" id="go-to-debrief" onclick="goToFinalDebriefForm()" value="Proceed to Debriefing"/>
	</div>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

<!--Debriefing ----------------------------------------------------------------------------------------------------->
<pre id="debrief-form" style="display: none;">
Debriefing Information

Title of Research Study: Situational-Factor Person Interaction in Trait Fairness

Principal Investigator: Blaine Fowers

Study Number: 20210309

Thank you for your participation in our study. We appreciate your participation. This form provides more information 
about the study purpose and procedures that we did not fully disclose during the consent process.

Study Purpose and Procedures:

When you agreed to take part in the study, we informed you that the study was about learning more about how personality
and decision-making are related. Your participation in this study was described as involving playing a decision-making 
game and completing several questionnaires about personal traits. In fact, the true purpose of the study was to assess 
the relationship between self-reported trait fairness and the degree of fairness behavior participants demonstrated in 
the economic game in the study. There were two deceptions in the study. First, you were told that you were interacting 
with 3 other people in the study, but you were playing with 1 of 3 pre-designed computer protocols. You were randomly 
assigned to one of the three conditions in the study, and we were interested in how these conditions affect 
participants’ decisions. Second, you were told that your chances to win the $100 lottery would be proportional 
to the number of fish you took in the game. However, all participants will have an equal chance of winning the 
lottery. The idea that there would be unequal chances to win the lottery was designed as an incentive to encourage 
participants to act selfishly. We hope to identify whether self-reported trait fairness has meaningful relationships 
with observed fairness behavior, which will give us more confidence in that self-report measurement and improve 
our understanding of fairness.

To properly test our theories, we could not give you all these details before you took part. Withholding the 
details allows us to make sure your reactions in this study were real and not shaped by knowing about the study 
ahead of time. Once again, we offered a benign cover story that you were playing with other people in the game 
and that your chances of winning the lottery would be increased by your fish taking behavior. Both these 
descriptions were deceptions designed to prevent participants from acting more fairly due to knowing that 
we were interested in fairness. We hope you understand the reason for our use of deception.

Your Right to Withdraw Data:

Now that you know the true purpose of this research study, you may decide whether you want

to allow the data about you to remain in the study. If you choose to have your data removed, you can have all 
your data from the study removed. Please email the principal investigator, Blaine Fowers (bfowers@miami.edu), 
and ask to have your data removed. Nothing bad will happen if you decide to have your data removed. Even if 
you ask to have your data removed from the study, you are still entitled to receive the payment we agreed to
provide through your research panel provider. Before making your decision, you can email the principal 
investigator to have your questions answered.

Confidentiality:

Please note that although the description of the study’s purpose and procedures are different from what you were 
told, everything else in the consent form is correct, including information about keeping your data provide. 
Your data will remain anonymous because it will not have any identifying information attached.

Please do not disclose research procedures and/or hypotheses to anyone who might participate in this study in 
the future. Telling them could affect the results of the study.

Contact Information:

If you have any questions or concerns about this study, its purpose or procedures, or if you have a 
research-related problem, please feel free to contact the Principal Investigator, Blaine Fowers (bfowers@miami.edu).

If you have any questions concerning your rights as a research participant, you may contact the 
University of Miami Human Subjects Research Office at (305) 243-3195 or emailing hsro@med.miami.edu.

***Please keep a copy of this form or print this from your screen, for your future reference. Once again, 
thank you for your participation in this study.***
<a href="https://app.prolific.co/submissions/complete?cc=4E152F17">
   <input type="button" value="Complete Participation in Study" />
</a>
</pre>
<!--------------------------------------------------------------------------------------------------------------------->

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
<script type="text/javascript">
	window.jQuery || document.write('<script src="{% static "jquery-3.6.0.min.js" %}">\x3C/script>');
</script>

<script type="text/javascript">


var output;
var resultsJSON = {'surveyResults': [],};
var condition = Math.floor(Math.random() * 3);
var p1_lock = 0;
var p2_lock = 0;
var p3_lock = 0;
var p4_lock = 0;
var round = 1;
var pot_total = 20000;
var p1_total = 0;
var p2_total = 0;
var p3_total = 0;
var p4_total = 0;
var p1_moves = [450, 450, 450, 450, 450, 450, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200];
var p2_moves = [450, 450, 450, 450, 450, 450, 450, 500, 450, 500, 500, 500, 450, 500, 450, 500, 500, 500];
var p3_moves = [450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 450, 1200, 1200, 1200, 1200, 1200, 1200];
var p1_take = 0;
var p2_take = 0;
var p3_take = 0;
var p4_take = 0;


var p1_connect_time = 2500;
var p3_connect_time  = 4000;
var game_start_time = 6000;

var bot_turn_rand_time = 1000;
var bot_turn_base_time = 2000;
var bot_turn_offset_rand = 700;
var bot_turn_offset_base = 700;

var NUM_ROUNDS = 7;
var NUM_RADIO_ITEMS = 8;
var NUM_DEMO_ITEMS = 9;

var elements = ["#outputBox", "#connect", "#instructions", "#game", "#finish", "#consent_form", "#failure_case", "#survey_item"]


// Keypress Handlers  //
$(document).keydown(function(event) { 
	// on Backslash
	if(event.which == 220) {
		if(isHidden("#outputBox")) { show("#outputBox") }
		else { hide("#outputBox") }
	} 
	// on Enter 
	if(event.which == 13) { 
		if(!isHidden("#game")) { turn_advance() }
		else {
			if(!isHidden('#survey_item')) {
				iterate_survey_item();
			}
		}
	}
});



// Helper Functions //
function getByID(id) { return document.getElementById(id); }

function hideAll() {
	for(let i = 0; i < elements.length; i++)
		$(elements[i]).css('display', 'none')
}

function hide(id) { $(id).css('display', 'none') }

function show(id) { $(id).css('display', 'block') }

function showInlineBlock(id) { $(id).css('display', 'inline-block')}

function isHidden(id) { return ($(id).css('display') == 'none') }


function shuffle(a){ 
	var j, x, i; 
	for (i = a.length; i; i--) { 
		j = Math.floor(Math.random() * i); 
		x = a[i - 1]; 
		a[i - 1] = a[j]; 
		a[j] = x; 
	} 
}
//

// Occurs once body is loaded //
function show_consent_form() { show("#consent_form"); }

// Begins experiment
function initiate_experiment(){
	// Hide Consent Form
	hide("#consent_form");

	let idNotValid = true
	// Get subid
	while(idNotValid) {
		var subject_id = window.prompt("Enter a Valid Prolific ID");
		if(subject_id.length == 24) idNotValid = false; 
	}

	output = getByID("outputBox")
	output.innerHTML = "Cond:" + condition + ", ID:" + subject_id;

	resultsJSON['cond'] = condition;
	resultsJSON['id'] = subject_id;

	show("#instructions")
}

// If not offering consent 
function fail_experiment() {
	hide("#consent_form");
	show("#failure_case");
}

// Begins game
function start_game(){
	hide("#instructions")
	show("#connect")
	setTimeout(function(){ getByID("p1_connect").innerHTML = "Player 1 - Connected"}, p1_connect_time);
	setTimeout(function(){ getByID("p3_connect").innerHTML = "Player 3 - Connected"}, p3_connect_time);
	setTimeout(function(){ show("#game"); hide("#connect"); }, game_start_time);
}

// Attempts to advance turn
function turn_advance(){
	if(p4_lock == 1 && (p1_lock * p2_lock * p3_lock == 0)){
		alert("You Have Already Gone This Round! ");
		getByID("player_take").value = "";
		return;
	}
	p4_take = parseInt(getByID("player_take").value);
	if(isNaN(p4_take)){
		alert("Please enter a number! ");
		getByID("player_take").value = "";
		return;
	}
	if(p4_take < 0){
		alert("Please enter a number greater than 0! ");
		getByID("player_take").value = "";
		return;
	}
	if(p4_take > 1200){
		alert("Please enter a number smaller than or equal to 1200! ");
		getByID("player_take").value = "";
		return;
	}

	if(p4_lock == 0 && (p1_lock * p2_lock * p3_lock == 0)){
		p4_lock = 1;
		p4_total += p4_take;
		pot_total -= p4_take;
		logData = output.value;
		additionalData = ", R" + round + ": " + p4_take;
		logData +=  additionalData;
		output.innerHTML = logData;
		resultsJSON['R' + round] = p4_take;

		getByID("player_take").value = "";
		refresh_p4();
		computerTurn();
		return;
	}
}

// Has all AI make a choice
function computerTurn(){
	var center = Math.floor(Math.random() * bot_turn_rand_time) + bot_turn_base_time;
	var offset = Math.floor(Math.random() * bot_turn_offset_rand) + bot_turn_offset_base;
	var turn_time = [center, (center + offset), (center - offset)];
	shuffle(turn_time);
	setTimeout(p1_turn, turn_time[0]);
	setTimeout(p2_turn, turn_time[1]);
	setTimeout(p3_turn, turn_time[2]);
}

// Advances the round after all choices have been made 
function roundAdvance(){
	pot_total = Math.ceil(pot_total * 1.1);
	if(pot_total > 20000){ pot_total = 20000;}

	round++;

	p1_lock = 0; p2_lock = 0; p3_lock = 0; p4_lock = 0;

	getByID("round_text").innerHTML = "Round " + round;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;

	if(round == NUM_ROUNDS){
		hide("#game")
		getByID("finish_total").innerHTML = "Final score: " + p4_total;
		show("#finish")
		resultsJSON['total'] = p4_total;
		return;
	}
}

function checkWeirdDemo() {
	// Verify that things are in fact checked
	// Save the results
	administerSurvey()
}

function administerDemographics() {
	hide("#finish")

	let ageCheck = NaN
	// Get subid
	while(isNaN(ageCheck)) {
		var age = window.prompt("Enter your age");
		ageCheck = (age % 3);
	}

	resultsJSON['age'] = age

	// Show weird questions first
	show("#weird-demographics")
}

function administerSurvey() {
	// Include check to see if demographics is complete
	let completed = false;
	let races = [] ;

	while(!completed){
		races = [];
		for(let i = 1; i <= 6; i++) {
			let radioID = "weirddemo-" + i
			let labelID = radioID + "-label"
			let input = getByID(radioID)
			let labelObj = getByID(labelID)

			if(input.checked) {
				races.push(labelObj.innerHTML)
			}
		}

		if(races.length > 0) completed = true
		else {
			window.prompt("Please answer the question.")
			return;
		}
	}

	resultsJSON['races'] = races

	// populate resultsJSON with results
	hide("#weird-demographics")
	populateSurveyItem()
	show("#survey_item")
}

function goToDebrief() {
	hide("#finish_survey");
	show("#debrief-funnel");
	show("#funnel-1")
}

function goToFunnel2() {
	hide("#funnel-1")
	show("#funnel-2")
}

function goToFunnel3() {
	hide("#funnel-2")
	show("#funnel-3")
}

function goToFinalDebriefForm() {

	hide("#debrief-funnel");
	show("#debrief-form");

	let answerOne = getByID("purposeBox").value;
	let answerTwo = getByID("purposeBox-2").value;
	let answerThree = getByID("purposeBox-3").value;

	let answerObj = { 'answerOne': answerOne,
		'answerTwo': answerTwo,
		'answerThree': answerThree,
	};

	resultsJSON['debriefFunnel'] = answerObj;
	uploadResults();
}

// Returns like: [('yes', 1), ('no', 2)]
function getListOfResponseObjects(responses) {
	var sortable = [];
	for (var response in responses) {
	    sortable.push([response, responses[response]]);
	}

	sortable.sort(function(a, b) {
	    return a[1] - b[1];
	});

	return sortable
}


function populateSurveyItem() {
		let questionObj = getCurrentQuestion();
		let question = questionObj['question']
		let responses = questionObj['responses']
		let listOfResponseObjects = getListOfResponseObjects(responses);

		getByID('survey_question').innerHTML = question

		for(let i = 0; i < listOfResponseObjects.length; i++){
			let radioKey = (i + 1);
			let radioID = "radio-" + radioKey;
			let labelID = "radio-" + radioKey + "-label";

			let input = getByID(radioID);
			input.value = listOfResponseObjects[i][1];
			input.checked = false;
			let label = getByID(labelID);
			label.innerHTML = listOfResponseObjects[i][0];
			showInlineBlock("#" + radioID);
			showInlineBlock("#" + labelID);
		}

		if(listOfResponseObjects.length < NUM_RADIO_ITEMS) {
			for(let i = NUM_RADIO_ITEMS; i > listOfResponseObjects.length; i--) {
				let radioID = "radio-" + i;
				let labelID = "radio-" + i + "-label";
				getByID(radioID).checked = false;
				hide("#" + radioID);
				hide("#" + labelID);
			}
		}
}

function iterate_survey_item() {
	// Check survey is filled out
	let checked = false;
	let value = NaN;
	let label = NaN;

	for(let i = 1; i <= NUM_RADIO_ITEMS; i++) {
		let radioID = "radio-" + i;
		let labelID = radioID + '-label'
		let input = getByID(radioID);
		let labelObj = getByID(labelID);
		if(input.checked) {
			checked = true;
			value = input.value;
			label = labelObj.innerHTML;
			break;
		} 
	}

	if(checked == false) {
		alert("Please answer the question before clicking next.");
		return;
	}

	// Proceed
	let question = getCurrentQuestion()

	resultsJSON['surveyResults'].push({
		'item': survey_item_index,
		'questionID': question['question-id'],
		'question': getByID('survey_question').innerHTML,
		'responseCode': value,
		'responseText': label,
	});

	survey_item_index++;

	if(survey_item_index == survey_object.length) {
		hide("#survey_item");
		show("#finish_survey");
		return;
	}

	populateSurveyItem();
}

function getCurrentQuestion() {
	let relQuestionIndex = random_survey_indices[survey_item_index]
	return survey_object[relQuestionIndex]
}
// Uploads results to server where they are appended to text file
function uploadResults() {
			// Upload results
		fetch('/services/postTestResult', {
			method: 'POST',
			headers: {
		      'Accept': 'application/json',
		      'Content-type': 'application/json',
		    },
		    body: JSON.stringify(resultsJSON),
		}).then(response => response.json()).then(json => console.log(json))
}


// These are all bot turns 
function p1_turn() {
	if(condition == 0) { p1_take = p1_moves[(round - 1)]; }
	if(condition == 1) { p1_take = p1_moves[(6 + (round - 1))]; }
	if(condition == 2) { p1_take = p1_moves[(12 + (round - 1))]; }
	pot_total -= p1_take;
	p1_total += p1_take;
	refresh_p1();
	p1_lock = 1;
	if(p2_lock * p3_lock * p4_lock == 1) { roundAdvance(); }
}

function p2_turn() {
	if(condition == 0) { p2_take = p2_moves[(round - 1)]; }
	if(condition == 1) { p2_take = p2_moves[(6 + (round - 1))]; }
	if(condition == 2) { p2_take = p2_moves[(12 + (round - 1))]; }
	pot_total -= p2_take;
	p2_total += p2_take;
	refresh_p2();
	p2_lock = 1;
	if(p1_lock * p3_lock * p4_lock == 1) { roundAdvance(); }
}

function p3_turn() {
	if(condition == 0){ p3_take = p3_moves[(round - 1)]; }
	if(condition == 1){ p3_take = p3_moves[(6 + (round - 1))]; }
	if(condition == 2){ p3_take = p3_moves[(12 + (round - 1))]; }
	pot_total -= p3_take;
	p3_total += p3_take;
	refresh_p3();
	p3_lock = 1;
	if(p1_lock * p2_lock * p4_lock == 1) { roundAdvance(); }
}

function refresh_p1() {
	getByID("p1").innerHTML = "Player 1 Took For Round " + round + ": " + p1_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p1_text").innerHTML = "Player 1 Total: " + p1_total;
}

function refresh_p2() {
	getByID("p2").innerHTML = "Player 2 Took For Round " + round + ": " + p2_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p2_text").innerHTML = "Player 2 Total: " + p2_total;
}

function refresh_p3() {
	getByID("p3").innerHTML = "Player 3 Took For Round " + round + ": " + p3_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("p3_text").innerHTML = "Player 3 Total: " + p3_total;
}

function refresh_p4() {
	getByID("p4").innerHTML = "Player 4 (You) Took For Round " + round + ": " + p4_take;
	getByID("pot_text").innerHTML = "Total Fish = " + pot_total;
	getByID("player_text").innerHTML = "Player 4 (You) Total: " + p4_total;
}

function randomSurveyOrder() {
	let base = []
	for(var i = 0; i < survey_object.length; i++) {
		base.push(i);
	}
	shuffle(base)
	return base
}

// PUT DEMO ITEMS FIRST
var survey_object = [
{
	'question-id': 'demo-1',
	'question': "What is your gender?",
	'responses': {
		"Female": 0,
		"Male": 1,
		"Other": 2
	}
},
{
	'question-id': 'demo-2',
	'question': "Which best describes your ethnicity? (Select one)",
	'responses': {
		"Hispanic or Latino": 0,
		"Not Hispanic or Not Latino": 1,
	}	
},
{
	'question-id': 'demo-3',
	'question': "What is your marital status? (Select one)",
	'responses': {
		"Single": 0,
		"Married, or in a domestic partnership": 1,
		"Separated": 2,
		"Divorced": 3,
		"Widowed": 4,
	}
},
{
	'question-id': 'demo-4',
	'question': "Do you consider yourself to be:",
	'responses': {
		"Heterosexual or straight": 0,
		"Gay or lesbian": 1,
		"Bisexual": 2,
		"Other (e.g. Pansexual, Asexual)": 3,
	}
},
{
	'question-id': 'demo-5',
	'question': "What is the highest degree or level of school you have completed? (Please select one)",
	'responses': {
		"Less than a highschool diploma": 0,
		"High school degree or equivalent (e.g. GED)": 1,
		"Some college, no degree": 2,
		"Associates degree (e.g. AA, AS)": 3,
		"Bachelor's degree (e.g. BA, BA)": 4,
		"Graduate degree (e.g. MA, MS, PhD, MD)": 5
	}
},
{
	'question-id': 'demo-6',
	'question': "What is your annual income (or combined annual income if you have a spouse)? (Please select one)",
	'responses': {
		"Less than $20,000": 0,
		"$20,000 to $34,999": 1,
		"$35,000 to $49,999": 2,
		"$50,000 to $74,999": 3,
		"$75,000 to $99,999": 4, 
		"Over $100,000": 5,
	}
},
{
	'question-id': 'demo-7',
	'question': "What is your current employment status? (Please select one)",
	'responses': {
		"Employed full time (40 or more hours per week)": 0,
		"Employed part time (up to 39 hours per week)": 1,
		"Unemployed and currently looking for work": 2,
		"Unemployed and not currently looking for work": 3,
		"Retired": 4, 
		"Student": 5,
	}
},
{
	'question-id': 'demo-8',
	'question': "Which region of the country do you live in? (Please select one)",
	'responses': {
		"Midwest": 0,
		"Northeast": 1,
		"Northwest": 2,
		"Southeast": 3,
		"Southwest": 4, 
	}
},
{
	'question-id': 'demo-9',
	'question': "Is English your native language?",
	'responses': {
		"Yes": 1,
		"No": 0,
	}
},

{
	'question-id': "IPFS-1",
	'question': "When interacting with other people, fairness is usually more important than getting something for myself",
	'responses': {
		"Strongly disagree": 1,
		"Disagree": 2,
		"Neither agree nor disagree": 3,
		"Agree": 4,
		"Strongly Agree": 5,
	}	
},

{
	'question-id': "IPFS-2",
	'question': "I go out of my way to treat everyone fairly",
	'responses': {
		"Strongly disagree": 1,
		"Disagree": 2,
		"Neither agree nor disagree": 3,
		"Agree": 4,
		"Strongly Agree": 5,
	}
},

{
'question-id': "IPFS-3",
'question': "I treat others fairly, even if there was a situation in the past when they treated me unfairly",
'responses': {
"Strongly disagree": 1,
"Disagree": 2,
"Neither agree nor disagree": 3,
"Agree": 4,
"Strongly Agree": 5,
}
},

{
'question-id': "IPFS-4",
'question': "Whenever I treat others unfairly, I apologize for my wrongdoing",
'responses': {
"Strongly disagree": 1,
"Disagree": 2,
"Neither agree nor disagree": 3,
"Agree": 4,
"Strongly Agree": 5,
}
},

{
'question-id': "IPFS-5",
'question': "I treat other people fairly whether I like them or not",
'responses': {
"Strongly disagree": 1,
"Disagree": 2,
"Neither agree nor disagree": 3,
"Agree": 4,
"Strongly Agree": 5,
}
},

{
'question-id': "IPFS-6",
'question': "I’m willing to go out of my way to be fair in the situation even when it inconveniences me",
'responses': {
"Strongly disagree": 1,
"Disagree": 2,
"Neither agree nor disagree": 3,
"Agree": 4,
"Strongly Agree": 5,
}
},
{
'question-id': "justice-sensitivity-1",
'question': "It bothers me when others receive something that ought to be mine",
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-2",
'question': "It makes me angry when others receive a reward that I have earned", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-3",
'question': "I cannot easily bear it when others profit unilaterally from me", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-4",
'question': "It takes me a long time to forget when I have to fix others’ carelessness", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-5",
'question': "It gets me down when I get fewer opportunities than others to develop my skills", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-6",
'question': "It makes me angry when others are undeservingly better off than me", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-7",
'question': "It worries me when I have to work hard for things that come easily to others",
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-8",
'question': "I ruminate for a long time when other people are treated better than me", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-9",
'question': "It burdens me to be criticized for things that are overlooked with others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-10",
'question': "It makes me angry when I am treated worse than others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-11",
'question': "It bothers me when someone gets something they don’t deserve", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-12",
'question': "I am upset when someone does not get a reward he/she has earned", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-13",
'question': "I cannot easily bear it when someone unilaterally profits from others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-14",
'question': "It takes me a long time to forget when someone else has to fix others’ carelessness", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-15",
'question': "It disturbs me when someone receives fewer opportunities to develop his/her skills than others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-16",
'question': "I am upset when someone is undeservingly worse off than others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-17",
'question': "It worries me when someone has to work hard for things that come easily to others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-18",
'question': "I ruminate for a long time when someone is treated nicer than others for no reason", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-19",
'question': "It gets me down to see someone criticized for things that are overlooked with others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-20",
'question': "I am upset when someone is treated worse than others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-21",
'question': "It disturbs me when I receive what others ought to have", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-22",
'question': "I have a bad conscience when I receive a reward that someone else has earned", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-23",
'question': "I cannot easily bear it to unilaterally profit from others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-24",
'question': "It takes me a long time to forget when others have to fix my carelessness", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-25",
'question': "It disturbs me when I receive more opportunities than others to develop my skills", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-26",
'question': "I feel guilty when I am better off than others for no reason", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-27",
'question': "It bothers me when things come easily to me that others have to work hard for", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-28",
'question': "I ruminate for a long time about being treated nicer than others for no reason", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-29",
'question': "It bothers me when someone tolerates things with me that other people are being criticized for", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,
}	
},

{
'question-id': "justice-sensitivity-30",
'question': "I feel guilty when I receive better treatment than others", 
'responses': {
"Not at all": 0,
"A little": 1,
"Somewhat": 2,
"Agree": 3,
"Strongly Agree": 4,
"Exactly": 5,

}	
},

{
'question-id': "bigfive-1",
'question': "I see myself as someone who is talkative", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-2",
'question': "I see myself as someone who tends to find fault with others", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-3",
'question': "I see myself as someone who does a thorough job", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-4",
'question': "I see myself as someone who is depressed, blue", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-5",
'question': "I see myself as someone who is original, comes up with new ideas", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-6",
'question': "I see myself as someone who is reserved", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-7",
'question': "I see myself as someone who is helpful and unselfish with others", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-8",
'question': "I see myself as someone who can be somewhat careless", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-9",
'question': "I see myself as someone who is relaxed, handles stress well", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-10",
'question': "I see myself as someone who is curious about many different things", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-11",
'question': "I see myself as someone who is full of energy", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-12",
'question': "I see myself as someone who starts quarrels with others", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-13",
'question': "I see myself as someone who is a reliable worker", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-14",
'question': "I see myself as someone who can be tense", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-15",
'question': "I see myself as someone who is ingenious, a deep thinker", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-16",
'question': "I see myself as someone who generates a lot of enthusiasm", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-17",
'question': "I see myself as someone who has a forgiving nature", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-18",
'question': "I see myself as someone who tends to be disorganized", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-19",
'question': "I see myself as someone who worries a lot", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-20",
'question': "I see myself as someone who has an active imagination", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-21",
'question': "I see myself as someone who tends to be quiet", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-22",
'question': "I see myself as someone who is generally trusting", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-23",
'question': "I see myself as someone who tends to be lazy", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-24",
'question': "I see myself as someone who is emotionally stable, not easily upset", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-25",
'question': "I see myself as someone who is inventive", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-26",
'question': "I see myself as someone who has an assertive personality", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-27",
'question': "I see myself as someone who can be cold and aloof", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-28",
'question': "I see myself as someone who perseveres until the task is finished", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-29",
'question': "I see myself as someone who can be moody", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-30",
'question': "I see myself as someone who values artistic, aesthetic experiences", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-31",
'question': "I see myself as someone who is sometimes shy, inhibited", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-32",
'question': "I see myself as someone who is considerate and kind to almost everyone", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-33",
'question': "I see myself as someone who does things efficiently", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-34",
'question': "I see myself as someone who remains calm in tense situations", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-35",
'question': "I see myself as someone who prefers work that is routine", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-36",
'question': "I see myself as someone who is outgoing, sociable", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-37",
'question': "I see myself as someone who is sometimes rude to others", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-38",
'question': "I see myself as someone who makes plans and follows through with them", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-39",
'question': "I see myself as someone who gets nervous easily", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-40",
'question': "I see myself as someone who likes to reflect, play with ideas", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-41",
'question': "I see myself as someone who has few artistic interests", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-42",
'question': "I see myself as someone who likes to cooperate with others", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-43",
'question': "I see myself as someone who is easily distracted", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},

{
'question-id': "bigfive-44",
'question': "I see myself as someone who is sophisticated in art, music, or literature", 
'responses': {
"Disagree strongly": 1,
"Disagree a little": 2,
"Neither agree nor disagree": 3,
"Agree a little": 4,
"Agree strongly": 5,
}
},
{
'question-id': "socdesirable-1",
'question': "I have not always been honest with myself", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-2",
'question': "I always know why I like things", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-3",
'question': "It’s hard for me to shut off a disturbing thought", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-4",
'question': "I never regret my decisions", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-5",
'question': "I sometimes lose out on things because I can’t make up my mind soon enough", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-6",
'question': "I am a completely rational person", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-7",
'question': "I am very confident of my judgements", 
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-8",
'question': "I have sometimes doubted my ability as a lover",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-9",
'question': "I sometimes tell lies if I have to",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-10",
'question': "I never cover up my mistakes",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-11",
'question': "There have been occasions when I have taken advantage of someone",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-12",
'question': "I sometimes try to get even rather than forgive and forget",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-13",
'question': "I have said something bad about a friend behind his/her back",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-14",
'question': "When I hear people talking privately, I avoid listening",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-15",
'question': "I never take things that don’t belong to me",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},

{
'question-id': "socdesirable-16",
'question': "I don’t gossip about other people’s business",
'responses': {
"Not true": 1,
"Rarely true": 2,
"At times true": 3,
"Somewhat": 4,
"True": 5,
"Often true": 6,
"Very true": 7,
}
},
]

var random_survey_indices = randomSurveyOrder()
var survey_item_index = 0

</script>
{% endblock scripts %}
</body>
</html>